<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379177247657-hc9bfdf6d6m6aelgbel3kh90glvuq3ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379177247657-hc9bfdf6d6m6aelgbel3kh90glvuq3ih</string>
	<key>API_KEY</key>
	<string>AIzaSyDMLurjyicog6Gco8sH6peUCKsohFsEJPY</string>
	<key>GCM_SENDER_ID</key>
	<string>379177247657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soluevo.centauro-sample-ios</string>
	<key>PROJECT_ID</key>
	<string>centauro-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>centauro-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:379177247657:ios:cf5c914a5c6d0d8036dab8</string>
	<key>DATABASE_URL</key>
	<string>https://centauro-sample.firebaseio.com</string>
</dict>
</plist>
